{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href="{% static 'bootstrap/bootstrap.min.css' %}">
    {% block css %}
    {% endblock %}


</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <h1><a class ="navbar-brand" href="{% url 'community:review_list' %}">REVIEWLIST  </a><a class ="navbar-brand" href="{% url 'community:create' %}">CREATE</a></h1>


    </nav>
    <hr>
    {% block content %}
    {% endblock %}
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>


</body>
</html>